* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', -apple-system, system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  padding: 10px;
}
h1 {
  margin-bottom: 20px;
  font-size: 64px;
  font-weight: 500;
  color: #5c7aa2;
}

.todo {
  width: 100%;
  max-width: 900px;
  max-height: 600px;
  // width: calc(100vw - 50px);
  // height: calc(100vh - 100px);
  display: flex;
  box-shadow: 1px 2px 16px #999;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  background: #fff;
  // overflow: hidden;
  font-size: 14px;
  position: relative;
  &__tasks {
    flex: 1;
    padding: 46px 40px;
    overflow: auto;
  }
  &__sidebar {
    background: #f4f6f8;
    width: 270px;
    min-width: 250px;
    // max-width: 240px;
    // height: 100%;
    min-height: 600px;
    border-right: 1px solid #f1f1f1;
    padding: 50px 20px;
    border-radius: 10px 0 0 10px;
  }
  
}



.button {
  background: none;
  border: none;
  padding: 10px;
  background: #54D892;
  border-radius: 5px;
  font-weight: 500;
  color: #ffffff;
  &--gray {
    background: #ededed;
    color: #555555;
  }
  &:hover {
      cursor: pointer;
      background: darken(#54D892, 5%);
  }
  &:active {
      cursor: pointer;
      background: darken(#54D892, 10%);
  }
}

.button--gray:hover {
  background-color: #d6d6d6;
}